@import "../../App.scss";
//@import "~bootstrap/scss/bootstrap";

.dropdown-menu {
    background-color: $background-dark !important;
    color: white !important;
}

.dropdown-student {
    width: 300px;
    height: 100px;
}

.dropdown-items {
    display: block;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    padding: 4px 20px;
}
.info-btn {
    border-radius: 0 0 8px 8px;
    background-image: linear-gradient(
        white,
        whitesmoke,
        whitesmoke,
        rgb(152, 154, 158)
    ) !important;
}
