@import "../../../App.scss";

.student {
    box-sizing: border-box;
    display: block;
    margin: auto;
    margin-bottom: 18px;
    width: 98%;
    max-width: 98%;
    border-radius: 1rem;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.daily-points {
    display: inline;
    width: 19.2%;
    padding: 3px;
    border: 0px;
    min-width: 15%;
    margin: 0px;
    max-height: 55px;
}

.button {
    -webkit-appearance: none;
    display: block;
    padding: 10px;
    font-size: 5.5vw;
    background-color: white;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}

.tl-round {
    border-radius: 0.5em 0 0 0;
}

.tr-round {
    border-radius: 0 0.5em 0 0;
}

.br-round {
    border-radius: 0 0 0.5em 0;
}

.bl-round {
    border-radius: 0 0 0 0.5em;
}

.student-button {
    display: inline-block;
    padding: 3px;
    border: 0px;
    margin: 0px;
    width: 79.8%;
    min-width: 79.8%;
    max-height: 55px;
}

.absent {
    display: inline;
    width: 16%;
    background-color: rgb(50, 255, 50);
    padding: 3px;
    border: 0px;
    margin-top: -5px;
}

[data-note="true"] {
    background-color: yellow;
}

.note {
    display: inline-block;
    position: relative;
    width: 19.2%;
    margin: 0px;
    height: 55px;
}

.delete {
    box-shadow: 0px 0px 0px 6px red;
}

#submit-button {
    background: rgb(50, 255, 50);
    border: none;
    border-color: none;
    color: black;
    font-weight: bold;
    width: 40%;
}

//absent
.A {
    background-color: red;
}
//tardy
.T {
    background-color: yellow;
}

.green-button {
    background-color: $green !important;
    border: none !important;
}

.grey-button {
    background-color: rgb(223, 222, 221) !important;
    color: black;
    border: none !important;
}

.light-header {
    background-color: rgb(223, 222, 221) !important;
}

input[type='range'] {
  color: rgb(50, 255, 50);
  background-color: rgb(50, 255, 50);
  overflow: hidden;
}

.row-divide {
  display: flex;
  position: relative;
  top: -10px;
  justify-content: space-between;
  align-items: center;

  hr {
    width: 42%;
    height: 3px;
    background-color: white;
  }

}

@media (min-width: 736px) {
    .button {
        font-size: 1.7rem;
    }
}
