@import "../../../App.scss";

.class-time {
  background-color: $background-dark;
  color: $green;
  border: none;
  border-color: $background-dark;
  border-style: none;
}

.end {
  color: rgb(255, 62, 45);
}

input[type="range"] {
  outline: 0;
  border: 0;
  border-radius: 500px;
  width: 150px;
  max-width: 100%;
  margin: 10px 0 16px;
  // transition: box-shadow 0.2s ease-in-out;
  // Chrome
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    & {
      overflow: hidden;
      height: 15px;
      -webkit-appearance: none;
      background-color: darkslategrey;
    }
    &::-webkit-slider-runnable-track {
      height: 15px;
      -webkit-appearance: none;
      color: #444;
    }
    &::-webkit-slider-thumb {
      width: 15px;
      -webkit-appearance: none;
      height: 15px;
      cursor: ew-resize;
      background: none;
      box-shadow: -340px 0 0 330px $green, inset 0 0 0 15px $green;
      border-radius: 50%;
      position: relative;
      // top: 1px;
    }
  }
}

.student-details:nth-child(even) {
  background-color: #256400;
}


.student-info-form {
  max-width: -webkit-fill-available;
}

.student {
  box-sizing: border-box;
  display: block;
  margin: auto;
  margin-bottom: 12px;
  width: 98%;
  max-width: 98%;
  border-radius: 1rem;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  height: 45px;
}

.daily-points {
  display: inline;
  width: 16.2%;
  padding: 3px;
  border: 0px;
  min-width: 15%;
  margin: 0px;
  max-height: 45px;
}

.button {
  -webkit-appearance: none;
  display: block;
  padding: 8px;
  font-size: 5.3vw;
  background-color: white;
  border-radius: 0px;
  -webkit-border-radius: 0px;
}

.tl-round {
  border-radius: 0.5em 0 0 0;
}

.tr-round {
  border-radius: 0 0.5em 0 0;
}

.br-round {
  border-radius: 0 0 0.5em 0;
}

.bl-round {
  border-radius: 0 0 0 0.5em;
}

.student-button {
  display: inline-block;
  padding: 3px;
  border: 0px;
  margin: 0px;
  width: 83.25%;
  min-width: 83.25%;
  max-height: 45px;
}

// .absent {
//   display: inline;
//   width: 16.2%;
//   background-color: rgb(50, 255, 50);
//   padding: 3px;
//   border: 0px;
//   margin-top: -5px;
// }


.note {
  background-color: rgb(50, 255, 50);
  padding: 3px;
  border: 0px;
  display: inline-block;
  position: relative;
  width: 16.2%;
  margin: 0px;
  height: 45px;
}

[data-note="true"] {
  background-color: yellow;
}
.delete {
  box-shadow: 0px 0px 0px 6px red;
}

#submit-button {
  background: rgb(50, 255, 50);
  border: none;
  border-color: none;
  color: black;
  font-weight: bold;
  width: 40%;
}

.submit-button {
  background: rgb(50, 255, 50);
  border: none;
  border-color: none;
  color: black;
  font-weight: bold;
  width: 40%;
  border-radius: .25rem;
  padding: .25rem
}

//absent
.A {
  background-color: red;
}
//tardy
.T {
  background-color: yellow;
}

.green-button {
  background-color: $green !important;
  border: none !important;
}

.grey-button {
  background-color: rgb(223, 222, 221) !important;
  color: black;
  border: none !important;
}

.light-header {
  background-color: rgb(223, 222, 221) !important;
}

.row-divide {
  display: flex;
  position: relative;
  top: -10px;
  justify-content: space-between;
  align-items: center;

  hr {
    width: 42%;
    height: 3px;
    background-color: white;
  }
}

@media (min-width: 736px) {
  .button {
    font-size: 1.5rem;
  }
}
