@import "../../App.scss";

.note-settings {
    max-width: 65px;
    margin-bottom: 10px;
}

.settings-table {
    margin-bottom: 40px;
}

#save-settings {
    display: block;
    width: 100px;
}

.settings-form {
    tr {
        background-color: $background-dark !important;
    }
    th {
        text-align: center;
    }
    td {
        text-align: center;
    }
    input {
        border-radius: 4px;
        padding-left: 4px;
    }
}

.settings-btn-container {
    width: 100%;
}
