@import "~bootstrap/scss/bootstrap";

// Table layout if screen width is greater than 800px for desktops and regular ipads.
table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    max-width: none;
}

th,
td {
    // border: 1px solid #ffffff;
    text-align: left;
    padding: 8px 12px;
    font-size: 20px;
    word-wrap: break-word;
}

tr {
    width: 100%;
}
tr:nth-child(even) {
    background-color: #256400;
}
tr:nth-child(odd) {
    background-color: #2f2f2f;
}

th.wide {
    width: 20%;
}
th.narrow {
    max-width: 50px;
}

td {
    border: 1px solid #ffffff;
}

.student-info-button {
    border-radius: 0 0 8px 8px;
}
