@import "../../App.scss";

.custom-select {
    min-width: 250px;
}

.custom-select-delete {
    min-width: 250px;
    box-sizing: border-box;
    background-color: red;
    color: white;
}

.flex {
    display: flex;

    &.center {
        justify-content: center;
    }
}

.inline {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .inline {
        display: inline;
    }
}
