@import '../../App.scss';


.custom-select {
    min-width: 250px;
}


.flex {
    display: flex;

    &.center {
        justify-content: center;
    }
}


.inline {
    text-align: center;
}

@media screen and (min-width: 768px) {

    .inline {
        display: inline;
    }
}