@import "~bootstrap/scss/bootstrap";

$clipboard-width: 300px;
$clipboard-height: 500px;
$clipboard-top-width: 200px;
$clipboard-top-height: 75px;
$green: rgb(42, 245, 42);
$background-dark: #212529;
$mainFont: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

html,
body {
    color: white;
    font-family: $mainFont;
    font-size: 1.1em;
    background-color: $background-dark;
}

button {
    color: black;
}

input {
    color: black;
    border-radius: none;
    -webkit-border-radius: none;
}

.App {
    height: 100%;
    background-color: $background-dark;
}

.clipboard {
    display: block;
    box-sizing: border-box;
    position: relative;
    margin: 20% auto;
    width: $clipboard-width;
    height: $clipboard-height;
    border: 3px $green solid;
    border-radius: 3%;
    z-index: 100;
}

.top {
    display: block;
    position: relative;
    background-color: $background-dark;
    top: -35px;
    margin: auto;
    width: $clipboard-top-width;
    height: $clipboard-top-height;
    z-index: 200;
    border-radius: 10% 10% 0 0;
}

.flex-fill {
    display: flex;
    flex-direction: column;
    height: 80%;
    top: 0;
    overflow: auto;
    align-items: center;
}

#main-title,
#main-title h1 {
    font-size: 2rem;
    font-weight: bolder;
    color: $green;
    height: 80%;
    justify-self: start;
}

#sign-in {
    text-decoration: none;
    color: black;
    display: block;
    width: 80%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    max-width: 600px;
    min-width: 350px;
    margin: auto;
}

.header {
    color: $green;
    text-align: center;
    margin-top: 100px;
}
hr {
    opacity: 0.5;
    background-color: gray;
}

@media (min-width: 756px) {
    .clipboard {
        width: $clipboard-width * 1.3;
        height: $clipboard-height * 1.3;
    }
    .top {
        width: $clipboard-top-width * 1.3;
        height: $clipboard-top-height * 1.3;
        top: (-35px * 1.3);
    }
    #main-title,
    #main-title h1 {
        font-size: 3rem;
    }
    .form-container {
        display: block;
        width: 90%;
        max-width: 600px;
    }
}

@media (min-width: 1024px) {
    .clipboard {
        width: $clipboard-width * 1.6;
        height: $clipboard-height * 1.6;
        margin: 5% auto;
    }
    .top {
        width: $clipboard-top-width * 1.6;
        height: $clipboard-top-height * 1.6;
        top: (-35px * 1.6);
    }
    #main-title,
    #main-title h1 {
        font-size: 3.5rem;
    }
}
